{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css" 
        integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" 
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{{asset('css/calendar.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-4">Calendrier des séances</h2>
        <div id="calendar" data-sessions="{{data}}" data-view="{{defaultDate}}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>

    <!-- fullcalendar bundle -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.2.0/main.min.js'></script>

    <!-- the rrule-to-fullcalendar connector -->
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@5.2.0/main.global.min.js'></script>

    <script src="{{asset('js/calendar.js')}}"></script>
{% endblock %}
